.container {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}

.main-image {
    grid-column: 1 / -1;
    height: 598px;
    background-image: url(main\ image.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
    margin-bottom: 93px;
}

.header {
    grid-column: 2 / 5;
    height: 193px;
    z-index: 2;
    position: relative;
    margin-top: -691px;
}

.danfo-header {
    font-family: "Danfo", serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.fjalla-one-regular {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav {
    grid-column: 2 / 5;
    height: 64px;
    z-index: 2;
    position: relative;
    margin-top: -450px;
}

.main-bg {
    grid-column: 1 / -1;
    height: 640px;
    background-image: linear-gradient(#ffbee0, #2d127d);
    z-index: 1;
}

.main {
    grid-column: 2 / -2;
    height: 640px;
    z-index: 2;
    position: relative;
    margin-top: -640px;
}

.image-row {
    display: flex;
    gap: 20px;
    height: 500px;
    width: 30%;
    padding: 20px;
}

.footer {
    grid-column: 2 / -2;
    height: 270px;
    display: grid;
    place-items: center, top;
    text-align: center;
}

.nav a {
    text-decoration-line: none;
    color: black;
}